@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    
    --color-light: #8FD5EC;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;
}


::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba( 95, 19, 236, 0.35 );
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background-color: #DCCDF6;
}
*{
    margin: 0 0;
    box-sizing: border-box;
}
*,
::after,
::before{
    margin: 0 0;
    box-sizing: border-box;
}


body{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins';
    line-height: 1.7;
    background-color: var(--color-light);
}